# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[**]
charset = utf-8
trim_trailing_whitespace = true
end_of_line = lf
insert_final_newline = true
max_line_length = 80

# Tab indentation (no size specified)
[Makefile]
indent_style = tab
indent_size = 8

# Travis file rules
[*.yml]
indent_size = 2

# Supposed to match all c and cpp files but really not sure if it works ..
[**.{c,h,cpp,hpp}]
indent_size = 8
indent_style = tab

# Maybe with more explicit rules ?
[include/*.h]
indent_size = 8
indent_style = tab

[src/**.c]
indent_size = 8
indent_style = tab
