langage: c
git:
  lfs_skip_smudge: true
before_install:
   - sudo add-apt-repository ppa:ubuntu-toolchain-r/test
   - sudo apt update
   - sudo apt install -y g++-6
   - sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-6 60 --slave /usr/bin/g++ g++ /usr/bin/g++-6
script: make && make clean
notifications:
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/a4ce99912e3c94b03f3f
    on_success: always  # options: [always|never|change] default: always
    on_failure: always  # options: [always|never|change] default: always
    on_start: never     # options: [always|never|change] default: always
